h2 New Message 
form(action="/new", method="post") 
  div Enter message 
    input(type="text", name="messageText")
  div Enter user name 
    input(type="text", name="messageUser")
  button Submit
br
a(href="/") Back